.button {
  appearance: none;
  background: transparent;
  border: 1px solid #0069ff;
  border-radius: 5px;
  color: #0069ff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  line-height: 2rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.25s ease, border 0.25s ease, color 0.25s ease;
  vertical-align: middle;
  white-space: nowrap;

  &--primary {
    background: #15cd72;
    border: none;
    color: #fff;
  }
}


.add-card-button {
  background: #15cd72;
  bottom: 3rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  position: fixed;
  right: 3rem;
  z-index: 100;
}
