.input {
  margin-bottom: 2rem;

  &__label {
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  &__box {
    background: transparent;
    border: none;
    border-bottom: solid 1px #555;
    box-sizing: border-box;
    color: #f0f0f0;
    font-size: 0.8rem;
    margin-bottom: 1px;
    padding: 0.5rem 0rem;
    width: 100%;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      background: transparent;
      color: #f0f0f0;
      -webkit-box-shadow: 0px;
    }

    &:focus {
      border-bottom: solid 2px #6c72b5;
      margin-bottom: 0px;
      outline: none;
    }
  }
}
