@import "_variables";

body {
  background: #1e1e1e;
  color: #fdfdfd;
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.app {
}

.view {
  padding: 2rem;
}

@import "app";
@import "board";
@import "card";
@import "small-form";
@import "form-error";
@import "input";
@import "button";
@import "loading-spinner";
@import "password-strength-indicator";
