.password-strength-indicator {
  padding: 1rem 0;

  &__bar {
    background: #303030;
    border-radius: 1.5rem;
    flex: 1;
    height: 0.25rem;
    margin: 0 0.1rem;
  }

  &__bars {
    display: flex;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    width: 15rem;
  }

  &__message {
    color: #aaa;
    font-size: 0.75rem;
    padding-left: 0.25rem;


  }
}
