.text-editor {
  &__area, &__preview {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: $color-input-text;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 0.5rem;
    min-height: 14rem;
    width: 100%;
  }

  &__area {
    font-family: $font-mono;
    font-size: 0.8rem;
    line-height: 1.25;
    padding: 0.5rem 0;

    &:focus {
      border-bottom: solid 1px #6c72b5;
      margin-bottom: 1rem;
      outline: none;
    }
  }

  &__preview {
    a {
      color: $color-link;
      font-size: 0.9rem;
    }

    pre {
      background: #2e2e2e;
      font-family: $font-mono;
      font-size: 0.75rem;
      padding: 1rem;
      white-space: pre-wrap;       /* css-3 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;
    }

    h1 {
      font-size: 1.25rem;
    }

    h2 {
      font-size: 1rem;
    }

    h3, h4, h5, h6 {
      font-size: 0.8rem;
    }

    img, video, iframe {
      max-width: 100%;
      height: auto;
      margin: 1rem 0;
    }

    ul {
      list-style-type: square;
      margin: 0;
      padding-left: 1rem;
    }
  }

  &__switch {
    display: inline-block;
    font-size: 0.75rem;
    padding-right: 0.75rem;
    text-align: left;
    cursor: pointer;
    background: none;
    color: #FFF;
    border: none;

    &:focus {
      outline: none;
    }

    &--active {
      text-decoration: underline;
    }
  }
}
